<header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <img src="https://www.pinclipart.com/picdir/middle/187-1874211_charitable-organization-non-profit-organisation-health-donazione-png.png"" width="
                    82" height="48">
            </a>


            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item">
                        Home
                    </a>

                    <a class="navbar-item">

                    </a>


                </div>

            </div>
    </nav>
</header>