<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <h1>New Non Profit page</h1>
    <form action="/nonprofits" method="POST">
        Id: <input type="text" name="id" /><br />
        Name: <input type="text" name="name" /><br />
        I Have Donated: <input type="checkbox" name="iHaveDonated" /><br />
        <input type="submit" name="" value="Create nonprofit" />
    </form>
</body>

</html>