<html>

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <h1>New NonProfit page</h1>
    <form action="/nonprofits" method="POST">
        
            <input type="text" placeholder="new image" name="url" />
            
      

           
            
            <br />
        theme: <input type="text" name="theme" /><br />
        name: <input type="text" name="name" /><br />
        description: <input type="text" name="description" /><br />
        I have Donated: <input type="checkbox" name="iHaveDonated" /><br />
        <input type="submit" name="" value="Create Nonprofit" />
    </form>
</body>

</html>